<div class="contaner p-5">
  <div class="row">
    <h1 class="col-sm-5 my-5 mx-auto text-center">User Editing</h1>
  </div>
  <div class="row">
    <div class="col offset-1 text-center">
      <%= image_tag @customer.profile_image, size: "350x300" %>
    </div>
  </div>

     <%= form_with model: @customer, url:  customer_path(@customer)  do |f| %>
     <%= render 'layouts/error_messages', model: f.object %>
      <div class="mt-5">
        <div class="form-group">
          <div class="row">
            <div class="col-md-5 text-left text-md-right">
              <%= f.label :name, '名前', class: "control-label" %>
            </div>
            <div class="col-md-7">
              <%= f.text_field :name, autofocus: true, :placeholder => "ユーザーネーム", class: 'form-control col-7' %>
            </div>
          </div>
        </div>
       </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-5 text-left text-md-right">
              <%= f.label :sex, '性別', class: "control-label" %>
            </div>
            <div class="col-md-7">
              <%= f.collection_radio_buttons :sex, Customer.sexes_i18n, :first, :last do |b| %>
                <span class="mr-3">
                  <%= b.label {b.radio_button + b.text} %>
                </span>
              <% end %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-5 text-left text-md-right">
              <%= f.label :email, 'メールアドレス', class: "control-label" %>
            </div>
            <div class="col-md-7">
              <%= f.email_field :email, :placeholder => "sample@example.com", class: 'form-control col-7' %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-5 text-left text-md-right">
             <%= f.label :active_area, "活動拠点", class: "control-label" %>
            </div>
            <div class="col-md-7">
            <%= f.select :active_area,Customer.active_areas_i18n.invert,{},class: 'form-control col-7' %>
           </div>
         </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-5 text-left text-md-right">
             <%= f.label :objective, "筋トレ目的", class: "control-label" %>
            </div>
            <div class="col-md-7">
            <%= f.select :objective,Customer.objectives_i18n.invert,{},class: 'form-control col-7' %>
           </div>
         </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-5 text-left text-md-right">
             <%= f.label :frequency, "筋トレ頻度", class: "control-label" %>
            </div>
            <div class="col-md-7">
            <%= f.select :frequency,Customer.frequencies_i18n.invert,{},class: 'form-control col-7' %>
           </div>
         </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-5 text-left text-md-right">
             <%= f.label :traning_style, "筋トレスタイル", class: "control-label" %>
            </div>
            <div class="col-md-7">
            <%= f.select :traning_style,Customer.traning_styles_i18n.invert,{},class: 'form-control col-7' %>
           </div>
         </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-5 text-left text-md-right">
             <%= f.label :heart, "筋トレの熱意", class: "control-label" %>
            </div>
            <div class="col-md-7">
           <%= f.select :heart,Customer.hearts_i18n.invert,{},class: 'form-control col-7' %>
          </div>
        </div>
       </div>

       <div class="form-group">
          <div class="row">
            <div class="col-md-5 text-left text-md-right">
              <%= f.label :introduction, '自己紹介', class: "control-label" %>
            </div>
            <div class="col-md-7 my-auto">
              <%= f.text_area :introduction, :placeholder => "自己紹介", class: 'form-control col-7' %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-5 text-left text-md-right">
             <%= f.label :profile_image, "プロフィール画像", class: "control-label" %>
            </div>
            <div class="col-md-7">
            <%= f.file_field :profile_image, accept: "image/*"  %>
           </div>
         </div>
        </div>

          <div class="actions col-12 text-center">
           <%= f.submit "更新する", class: 'btn btn-success control-submit mr-5 mb-3' %>
           <%= link_to "退会する", confirm_path, class: 'btn btn-outline-danger control-submit mr-5 mb-3' %>
         </div>
         <%end %>