<div class="contaner p-5">
  <div class="row pb-3 justify-content-center align-items-center" id="show">
     <div class="col-lg-3 text-center">

        <div class="rounded-circle"><%= image_tag @customer.get_profile_image(300,300) %></div>
        <h5 class="font-weight-bold pt-3 "><%= @customer.name %>
        <%= link_to  edit_customer_path(@customer) do %>
        <i class="fas fa-user-cog" style="color: black; margin-left:5px"></i></h5>
        <% end %>

         <div class="font-weight-bold">投稿<%= @posts.count %>件</div>
         <div class="font-weight-bold">
           フォロワー:<%= @customer.followings.count %>人
           フォロー中:<%= @customer.followers.count %>人</div>

         <!--フォロー機能-->
         <% if current_customer.following?(@customer) %>
          <strong>
           <%= link_to "フォロー中", customer_relationships_path(@customer.id),class: "btn-follow text-primary",method: :delete %>
         <% else %>
           <%= link_to "フォロー", customer_relationships_path(@customer.id),class: "btn-follow text-primary",method: :post %>
         <% end %>
         </strong>
     </div>
     <!--会員詳細-->
     <div class="col-sm-7 col-lg-5 py-3 text-left ">
         <table class="table ">
           <tbody>
             <tr>
              <th>性別<i class="fas fa-user-circle"></i></th>
              <td><%= @customer.sex_i18n %></td>
            </tr>
            <tr>
              <th>活動拠点<i class="fas fa-map-pin"></i></th>
              <td><%= @customer.active_area_i18n %></td>
            </tr>
            <tr>
              <th>筋トレ目的<i class="fas fa-bullseye"></i></th>
              <td><%= @customer.objective_i18n %></td>
            </tr>
            <tr>
              <th>筋トレ頻度<i class="fas fa-sort-amount-down"></i></th>
              <td><%= @customer.frequency_i18n %></td>
            </tr>
            <tr>
              <th>筋トレスタイル<i class="fas fa-running"></i></i></th>
              <td><%= @customer.traning_style_i18n %></td>
            </tr>
            <tr>
              <th>筋トレの熱意<i class="fas fa-fire"></i></th>
              <td><%= @customer.heart_i18n %></td>
            </tr>
            <tr>
              <th>自己紹介<i class="far fa-kiss-wink-heart"></i></th>
              <td style="word-break:break-word"><%= @customer.introduction %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

     <div class="row">
     <div class="col-lg-12 d-flex justify-content-center flex-wrap">
            <% @posts.each do |post| %>
            <div class="p-3">
             <%=link_to  post_path(post.id) do %>
             <%= image_tag post.image, size: "250x250" %>
             <% end %>
           </div>
          <% end %>
        </div>
    </div>
  </div>
  </div>
  
  