<div class="contaner pb-5">
  <div class="row pb-3 justify-content-center align-items-center" id="show">
     <div class="col-lg-3 text-center">
        <div class=""><%= image_tag @customer.get_profile_image(300,300) %></div>
        <div class=""><%= @customer.name %><%= link_to "編集", edit_customer_path(@customer) %></div>
         <div class="">投稿<%= @posts.count %>件</div>
         <div class="">フォロワー〇〇人フォロー中〇〇人</div>
     </div>
     <div class="col-lg-5 py-3 text-left ">
         <table class="table table-sm text-center">
           <tbody>
             <tr>
              <th>性別</th>
              <td><%= @customer.sex_i18n %></td>
            </tr>
            <tr>
              <th>活動拠点</th>
              <td><%= @customer.active_area_i18n %></td>
            </tr>
            <tr>
              <th>筋トレ目的</th>
              <td><%= @customer.objective_i18n %></td>
            </tr>
            <tr>
              <th>筋トレ頻度</th>
              <td><%= @customer.frequency_i18n %></td>
            </tr>
            <tr>
              <th>筋トレスタイル</th>
              <td><%= @customer.traning_style_i18n %></td>
            </tr>
            <tr>
              <th>筋トレの熱意</th>
              <td><%= @customer.heart_i18n %></td>
            </tr>
            <tr>
              <th>自己紹介</th>
              <td style="word-break:break-word"><%= @customer.introduction %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
     <div class="row">
     <div class="col-lg-12 d-flex justify-content-center flex-wrap">
            <% @posts.each do |post| %>
            <div class="p-3">
             <%=link_to  post_path(post.id) do %>
             <%= image_tag post.image, size: "250x250" %>
             <% end %>
           </div>
          <% end %>
        </div>
    </div>
  </div>
  </div>


