<div class="contaner py-5">
  <div class="row">
    <h1 class="col-sm-5 my-5 mx-auto text-center">User</h1>
  </div>
  <div class="row pb-3 justify-content-center align-items-center">
     <div class="col-lg-3 text-center">
        <div class="rounded-circle">
            <%= image_tag @customer.profile_image, :size =>'370x350', class: "rounded-circle image" %>
        </div>
        <h3 class="font-weight-bold pt-3 ">
          <%= @customer.name %>
            <%= link_to  edit_customer_path(@customer) do %>
              <i class="fas fa-user-cog" style="color: black; margin-left:5px"></i>
            <% end %>
        </h3>

        <h4 class="font-weight-bold">
            投稿<%= @posts.count %>件
            <%=link_to"いいね一覧",favorites_customer_path(@customer), class: "ml-3 link" %><i class="fas fa-heart" style="color: #e54747;"></i>
        </h4>
        <h4 class="follow-count">
           <%= render 'public/relationships/follow_count', customer: @customer %>
        </h4>

         <!--フォロー機能-->
         <div class="follow-btn my-3">
            <%= render 'public/relationships/follow_btn', customer: @customer %>
         </div>

     </div>



     <!--会員詳細-->
     <div class="col-sm-7 col-md-5 pb-2 text-left ">
        <h2 class="text-left">
          <strong>
            <i class="fas fa-id-card mr-2"></i>
               ：<%=@customer.name %>
          <span class = "chat_start"><%= render 'public/customers/chat_start', customer: @customer %></span>
          </strong>
        </h2>
         <table class="table mt-5 h3 " >
           <tbody>
             <tr>
              <th>性別<i class="fas fa-user-circle" style="color:#800080; margin-left:5px"></i></th>
              <td><%= @customer.sex_i18n %></td>
            </tr>
            <tr>
              <th>活動拠点<i class="fas fa-map-pin" style="color:#00BB00; margin-left:5px"></i></th>
              <td><%= @customer.active_area_i18n %></td>
            </tr>
            <tr>
              <th>筋トレ歴<i class="fas fa-hiking" style="color:#B8860B; margin-left:5px"></i></th>
              <td><%= @customer.history_i18n %></td>
            </tr>
            <tr>
              <th>筋トレ目的<i class="fas fa-bullseye" style="color:#FF773E; margin-left:5px"></i></th>
              <td><%= @customer.objective_i18n %></td>
            </tr>
            <tr>
              <th>筋トレ頻度<i class="fas fa-sort-amount-down" style="color:#0000FF; margin-left:5px"></i></th>
              <td><%= @customer.frequency_i18n %></td>
            </tr>
            <tr>
              <th>筋トレスタイル<i class="fas fa-running" style="color:#FFFF00; margin-left:5px"></i></th>
              <td><%= @customer.traning_style_i18n %></td>
            </tr>
            <tr>
              <th>筋トレの熱意<i class="fas fa-fire" style="color:#FF0000; margin-left:5px"></i></th>
              <td><%= @customer.heart_i18n %></td>
            </tr>
            <tr>
              <th>自己紹介<i class="far fa-kiss-wink-heart" style="color:#00FFFF; margin-left:5px"></i></th>
              <td style="word-break:break-word"><%= @customer.introduction %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

     <div class="row">
        <h2 class="col-sm-8 my-5 mx-auto text-center head-border">
          <%= @customer.name %>さんの投稿一覧</h2>
     </div>
     <div class="row">
         <div class="col-md-10 mx-auto d-flex justify-content-center flex-wrap">
          <% if @posts.present? %>
            <% @posts.each do |post| %>
              <div class="new-image p-3">
                <%= link_to post_path(post.id) do %>
                  <%= image_tag post.image, size: "300x250",class: "image"%>
                <% end %>
              </div>
            <% end %>
           </div>
          <% else %>
             <p class="pt-5">投稿がまだありません。</p>
          <% end %>
        </div>
     </div>
     <div class="row">
      <div class="col-md d-flex justify-content-center">
        <%= paginate @posts %>
      </div>
    </div>
</div>
