<div class="contaner">
  <div class="row p-5 justify-content-center">
     <div class="col-sm-3 text-center">
        <div class=""><%= image_tag @customer.get_profile_image(80,80) %></div>
        <div class=""><%= @customer.name %></div>
         <div class=""><%= link_to "プロフィール編集", edit_customer_path(@customer) %></div>
         <div class="">投稿○件</div>
         <div class="">フォロワー〇〇人</div>
         <div class="">フォロー中〇〇人</div>
     </div>
     <div class="col-sm-6 text-left ">
         <table class="table table-sm text-center">
           <tbody>
             <tr>
              <th>性別</th>
              <td><%= @customer.sex_i18n %></td>
            </tr>
            <tr>
              <th>活動拠点</th>
              <td><%= @customer.active_area_i18n %></td>
            </tr>
            <tr>
              <th>筋トレ目的</th>
              <td><%= @customer.objective_i18n %></td>
            </tr>
            <tr>
              <th>筋トレ頻度</th>
              <td><%= @customer.frequency_i18n %></td>
            </tr>
            <tr>
              <th>筋トレスタイル</th>
              <td><%= @customer.traning_style_i18n %></td>
            </tr>
            <tr>
              <th>筋トレの熱意</th>
              <td><%= @customer.heart_i18n %></td>
            </tr>
            <tr>
              <th>ひと言</th>
              <td><%= @customer.introduction %></td>
            </tr>
          </tbody>
        </table
      </div>
  </div>
</div>

