<div class="container">
  <div class="row">
    <h5 class="col-md-12 text-center font-weight-bold">投稿一覧</h5>
  </div>

   <div class="row">
     <div class="col-lg-12 d-flex justify-content-center flex-wrap">
            <% @posts.each do |post| %>
            <div class="p-3">
             <%=link_to  post_path(post.id) do %>
             <%= image_tag post.image, size: "250x250" %>
             <% end %>
           </div>
          <% end %>
        </div>
    </div>
  </div>

   <% @posts.each do |post| %>
    <div class="col-md-8 col-md-2 mx-auto">
       <div class="card-wrap">
          <div class="card">
              <div class="card-header align-items-center d-flex">
                 <%=link_to  post_path(post.id), class: "no-text-decoration" do %>
                   <%= image_tag post.image, class: "post-profile-icon" %>
                 <% end %>
                 <%=link_to  post_path(post.id),class: "black-color no-text-decoration",
                  title: post.customer.name do %>
                 <strong>post.customer.name</strong>
                 <% end %>
              </div>

              <%= image_tag post.customer.get_profile_image(80,80), class: "card-img-top"  %>

          <div class="card-body">
            <div class="row parts">
            <%= link_to "", "#", class: "love" %>
            <%= link_to "", "#", class: "comment" %>
             </div>
             <div><strong>「いいね！」10件</strong></div>
             <div>
            <span><strong><%= post.customer.name %></strong></span>
            <span><%= post.caption %></span>
            <hr>
             <div class="row parts">
              <form action="#" class="w-100">
                <div>
                  <textarea class="form-control comment-input border-0" placeholder="コメント..." rows="1"></textarea>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>