<div class="contaner py-5">
  <div class="row">
    <h1 class="col-sm-5 my-5 mx-auto text-center">New post</h1>
  </div>

    <%= form_with model: @post, url: posts_path, method: :post do |f| %>
      <div class="form-group ">
       <div class="row">
       <div class="col-md-5 text-right">
          <%= f.label :title, "Title",class: "control-label" %>
        </div>
        <div class="col-sm-7">
          <%= f.text_field :title, autofocus: true, :placeholder => "Title",class: 'form-control col-5 ' %>
        </div>
      </div>
    </div>

    <div class="form-grap m-3">
      <div class="row">
       <div class="col-md-5 text-right">
          <%= f.label :caption, "Caption", class: "control-label" %>
        </div>
        <div class="col-sm-7">
          <%= f.text_area :caption, :placeholder => "Caption",class: 'form-control col-5' %>
        </div>
      </div>
    </div>

    <div class="form-grap">
      <div class="row">
        <div class="col-md-5 text-right">
          <%= f.label :image, "image", class: "control-label" %>
        </div>
        <div class="col-sm-7">
         <%= f.file_field :image, accept: "image/*",class: "form-comtrol" %>
        </div>
     </div>
    </div>

    <div class="row m-3">
      <div class="col text-center mb-3">
         <%= f.submit "投稿する", class: 'btn btn-outline-primary btn-sm control-submit' %>
      </div>
    </div>
   <% end %>

  <div class="row">
     <div class="col-lg-7 mx-auto center-block　offset-md-3 d-flex justify-content-center flex-wrap">
            <% @posts.each do |post| %>
            <div class="p-3">
             <%=link_to post_path(post.id) do %>
             <%= image_tag post.image, size: "200x200",class: "rounded" %>
             <% end %>
           </div>
          <% end %>
        </div>
      </div>

</div>