<div class='container py-5'>
  <div class="row">
   <%= flash[:alart] %>
    <div class="col mb-5 mt-3 text-center font-weight-bold">投稿詳細</div>
  </div>
    <div class="row">
      <div class="col-lg-6 offset-3 d-flex justify-content-start">
       <%= image_tag @post.image, size: "300x300" %>
        <table class="table table-borderless table-sm text-center">
          <tr>
            <td><%= @post.title %></td>
          </tr>
          <tr>
            <td><%= @post.caption %></td>
          </tr>
          <tr>
            <td><%= link_to "編集する", edit_post_path(@post), class: 'btn btn-sm btn-success control-submit' %></td>
          </tr>
        </table>
        </div>
       </div>
      </div>
    </div>