<div class='container pb-5'>
  <div class="row">
   <%= flash[:alart] %>
    <div class="col mb-5 text-center font-weight-bold">ТіЋуе┐УЕ│у┤░</div>
  </div>

    <div class="card mx-auto rounded-3" style="width: 35rem;">
      <h5 class="card-header"><%= @post.customer.name %>
      <%= link_to "сЃ╗сЃ╗сЃ╗", edit_post_path(@post) %></h5>
      <%= image_tag @post.image %>
      <div class="card-body">
        <span>­ЪцЇ</span>
          <h5 class="card-title"><%= @post.title %></h5>
         <p class="card-text"><%= @post.caption %></p>
      </div>
    </div>
   </div>