<div class='container pb-5'>
  <div class="row">
   <%= flash[:alart] %>
    <div class="col mb-5 text-center font-weight-bold">投稿詳細</div>
  </div>

    <div class="card mx-auto rounded-3" style="width: 35rem;">
      <h5 class="card-header"><%= @post.customer.name %>
      <%= link_to "・・・", edit_post_path(@post) %></h5>
      <%= image_tag @post.image %>
      <div class="card-body">

       <div class="favorite-btn">
        <%= render "public/favorites/favorite-btn", post: @post %>
       </div>

          <h5 class="card-title"><%= @post.title %></h5>
         <p class="card-text"><%= @post.caption %></p>

          <% @post.comments.each do |comment| %>
          <p class="m-0 p-0 border-top">
            <%= image_tag comment.customer.get_profile_image(50,500) %>
             <%= comment.customer.name %>
             <%= comment.created_at.strftime('%Y/%m/%d') %>
             <% if comment.customer == current_customer %>
             <%= link_to "削除", post_comment_path(@post, comment), method: :delete %>
             </p>
             <div class="py-2">
             <%= comment.comment %>
             </div>
              <% end %>
            <% end %>
          </div>

          <%= form_with model: [@post, @comment], local: false do |f| %>
          <div class="text-center">
           <%= f.text_area :comment, rows: '1', placeholder: "コメント....",class: "form-control border-0" %>
           <%= f.submit class: "m-2 fas fa-paper-plane fa-lg mb-2"%>
           </div>
           <% end %>
      </div>
    </div>
   </div>