<div class="container">
  <div class="row">
    <div class="col-md-6 offset-3 my-5">
     <% if customers.exists? %>
       <% customers.each do |customer| %>
         <table class="table table-hover h4">
           <tbody>
             <tr>
               <th>
                 <%= link_to customer_path(customer), class: "text-info" do %>
                   <%= image_tag customer.profile_image, :size =>'50x50', class: "rounded-circle" %>
                   <%= customer.name %>
                 <% end %>
               </th>
               <td style="vertical-align: middle;">フォロー数: <%= customer.followings.count %></td>
               <td style="vertical-align: middle;">フォロワー数: <%= customer.followers.count %></td>
               <td style="vertical-align: middle;">
                 <% if current_customer != customer && current_customer.following?(customer) && customer.following?(current_customer) %>
                  <%= link_to 'chatを始める', chat_path(customer.id), class: "btn btn-info btn-lg" %>
                 <% end %>
               </td>
              </tr>
           </tbody>
          </table>
        <% end %>
      <% else %>
     </div>
    </div>
    <div class="row">
       <div class="col pt-5 text-center" style="height:500px">
         <h3>ユーザーはいません。</h3>
       </div>
    </div>
  <% end %>
  </div>
</div>

