
  <div class="row">
    <div class="col-md-6 offset-3 my-5">
     <% if customers.exists? %>
       <% customers.each do |customer| %>
         <table class="table table-hover h4">
           <tbody>
             <tr>
               <th>
                 <%= image_tag customer.profile_image, :size =>'50x50', class: "rounded-circle" %>
                 <%= customer.name %>
               </th>
               <td style="vertical-align: middle;">フォロー数: <%= customer.followings.count %></td>
               <td style="vertical-align: middle;">フォロワー数: <%= customer.followers.count %>
               <td style="vertical-align: middle;"><% if current_customer != customer && current_customer.following?(customer) && customer.following?(current_customer) %>
                      <%= link_to 'chatを始める', chat_path(customer.id), class: "ml-3" %>
               </td><% end %>
                </td>
              </tr>
           </tbody>
          </table>
        <% end %>
     <% else %>
       <p>ユーザーはいません</p>
     <% end %>
    </div>
  </div>
</div>

