<div class ="container py-5" >
    <div class="row">
        <div class="col-md-6 mx-auto text-center">
            <h1><strong>About</strong></h1>
        </div>
    </div>
    <div class="row figure">
        <div class="col-md-12 mt-5 text-center">
            <h2 class="blockquote"><strong><em class="adout-text">"Traning_friend"</em>とはひと言で言うと、「筋トレを通して同じ志を持つ仲間と繋がる」ことができます。</strong></h2>
             <p class="col blockquote-footer">
               同じ志を持つ仲間に幸あれ<i class="fas fa-people-carry mx-2"></i>
             </p>
        </div>
    </div>

    <!--スライドショー-->
    <div class="row my-5">
      <div class="col-md-9 mx-auto">
        <div class="box">
          <div class="slider">
            <div class="b"><%= image_tag 'slide.jpg', class: 'c' %></div>
            <div class="b"><%= image_tag 'slide1.jpg', class: 'c' %></div>
            <div class="b"><%= image_tag 'slide2.jpg', class: 'c' %></div>
            <div class="b"><%= image_tag 'slide3.jpg', class: 'c' %></div>
          </div>
          <div class="slider_logo">
            <p>Traning_friend</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row border-top border-info element">
        <div class="adout-text col text-center my-5">
            <h2 class="line">継続する人は殆どいない？</h2>
        </div>
    </div>
    <div class="row element">
        <div class="col-lg-6 text-center text-right">
            <%= image_tag 'About1.jpg', size: '550x350',class: "image" %>
        </div>
        <div class="adout-text col-sm-8 col-lg-6 mx-auto my-auto h4">
                <p>世間では、筋トレは継続することが難しいと言われており、</p></br>
                <p>筋トレを始めて<span class="border-bottom border-5 border-danger">1年後も継続している人は僅か4%</span>しかおらず、</p></br>
                <p>続けられる人はほんの一握りです。</p></br>
                <p>コロナ禍で日本全体が「<span class="text-info">健康志向</span>」になり、</p></br>
                <p>トレーニングを始める人が急増しましたが</p></br>
                <p>1年後には殆どの人が辞めてしまっているという現状です。</p></br>
        </div>
    </div>

     <div class="row border-top border-info mt-5 element">
        <div class="adout-text col text-center my-5">
            <h2 class="line">継続できないのは当たり前</h2>
        </div>
    </div>
    <div class="row element">
        <div class="col-lg-6 text-center text-right">
            <%= image_tag 'About2.jpg', size: '550x350',class: "image" %>
        </div>
        <div class="adout-text col-sm-8 col-lg-6  mx-auto my-auto h4">
            <p>そもそも、人間の脳は安定を好み、変化を嫌うように作られています。</p></br>
            <p>今の慣れ親しんだ生活を続けていれば、</p></br>
            <p>「<strong>死</strong>」という最悪の結果からは逃れることができると思っているからです。</p></br>
            <p>逆になにか新しいことを初めて安全な生活が脅かされると、</br>
               なにか危険なことが起こるんじゃないかと考えて、元の生活に戻ろうとします。</p>
            <p>この点から見れば、新しい習慣をライフスタイルに取り入れようとしても続かないのは普通のことで、</p>
            <p><strong>継続できない=<span class = "text-danger">✖︎</span>  継続できる=<span class ="text-danger">○</span>ではなく、
            継続できない=<span class ="text-danger">○</span> 継続できる=<span class ="text-danger">◎</span></strong></p></br>
            <p>と考えることが正しいと考えます。</p>
        </div>
    </div>

    <div class="row border-top border-info mt-5 element">
        <div class="adout-text col text-center my-5">
            <h2 class="line">辞める理由ではなく、続ける理由を見つけよう</h2>
        </div>
    </div>
    <div class="row element">
        <div class="col-lg-6 text-center text-right">
            <%= image_tag 'About3.jpg', size: '550x350',class: "image" %>
        </div>
        <div class="adout-text col-sm-8 col-lg-6  mx-auto my-auto h4">
            <p>継続していく上で大切なことは、</br>
              <span class="border-bottom border-dark">「筋トレは何の工夫もなければ継続できないのは当たり前」</span>だと認めること。</p></br>
            <p>そして、筋トレを継続する為には工夫が必要だと言うことです。</p></br>
            <p>その「工夫」の一つとして<strong class="text-info">「同じ志を持つ仲間が集まれる場所」</strong>が必要だと考えました。</p></br>
            <p>そうすれば、同じ目標や境遇をもった同士が高め合い、</p></br>
            <p>成長を実感しあえる環境を作れると思ったからです。</p></br>
            <p><span class="border-bottom border-5 border-info"><strong>「Traning_friend」を通じて「筋トレで自分を変えることができた」</strong></span></p></br>
            <p><span class="border-bottom border-3 border-info"><strong>「自分に自信を持てるようになった」「筋トレを続けてよかった」</strong></span></p></br>
            <p>そういう人が生まれる小さなきっかけになれば、これ以上の幸せはありません。</p></br>
        </div>
    </div>

    <div class="row border-top border-info mt-5 element">
      <h2 class="adout-text col-md-12 text-center my-5 h1">Profile</h2>
      <div class="col-md-5 text-center my-5">
        <%= image_tag "About2.jpg", class: "my-image" %>
      </div>
      <div class="adout-text col-md-7 my-5">
          <span class="h1">一村祥兵</span><span class="h3 ml-3">いちむらしょうへい</span>
          <div class="h4" style="margin-top:60px">
            <p>小学2年生から大学生まで野球に所属し、大学卒業後は陸上自衛隊習志野空挺団へ入隊。</p><br>
            <p>野球と自衛隊の経験から、筋トレに興味が湧き、趣味で筋トレを始める。</p><br>
            <p>しかし、筋トレ仲間が周りに少ないことや、継続できない人が多い現状を知り、</p><br>
            <p>少しでも筋トレを通して継続や成長できる手助けができないかと考え、</p><br>
            <p>筋トレ特化型のSNS<strong>「Traning_friend」</strong>を制作。</p>
          </div>
      </div>
    </div>
</div>


<script>
    $(function() {
      $('.slider').slick({
        dots: true,
        autoplay: true,
        autoplaySpeed: 2000,
        fade: true,    // fedeオン
        speed: 500,   // 画像切り替えにかかる時間（ミリ秒）
      });
   $(window).scroll(function () {
    const windowHeight = $(window).height();
    const scroll = $(window).scrollTop();

    $('.element').each(function () {
      const targetPosition = $(this).offset().top;
      if (scroll > targetPosition - windowHeight + 100) {
        $(this).addClass("is-fadein");
      }
    });
  });
});
</script>