<div class="container py-5">
 <div class="row">
  <div class="col-sm-8 mx-auto text-center">
   <h1 class="m-4 font-weight-bold">Users</h1>
  </div>
   <table class="table text-center table-secondary table-hover h4">
    <thead class="thead-dark">
      <tr>
        <th scope="col">会員ID</th>
        <th scope="col">氏名</th>
        <th scope="col">メールアドレス</th>
        <th scope="col">ステータス</th>
      </tr>
    </thead>

    <tbody>
     <% @customers.each do |customer| %>
     <tr>
      <th scope="row"><%= customer.id %></th>
      <td>
        <%= link_to admin_customer_path(customer),class: "text-body" do %>
        <strong><%= customer.name %></strong>
        <% end %>
      </td>
      <td><%= customer.email %></td>
      <td>
        <% if customer.is_deleted %>
         <p class="text-danger"><strong>退会済</strong></p>
         <% else %>
         <p class="text-success"><strong>有効</strong></p>
         <% end %>
        </td>
        </tr>
       <% end %>
     </tbody>
   </table>
  </div>
  <div class="row">
      <div class="col-md d-flex justify-content-center">
        <%= paginate @customers %>
      </div>
  </div>
</div> 

