<div class="container">
  <div class="row">
    <h1 class="col-md-8 mb-4 mx-auto text-center" id="chat_room" data-chat_room="<%= @chat_room.id %>" data-customer="<%= current_customer.id %>">
      <%= @customer.name %> さんとのチャットルーム
    </h1>
  </div>

  <div class="row">
    <div class="col-sm-6 mx-auto text-center">
       <% @chats.each do |chat| %>
        <% if chat.customer_id == current_customer.id %>
         <p style="text-align:right;">
           <span id="me"><%= chat.message %></span>
           <%= image_tag current_customer.profile_image, :size =>'50x50', class: "rounded-circle mx-4"%>
         </p>
       <% else %>
         <p style="text-align:left;">
            <%= link_to customer_path(@customer) do %><%= image_tag @customer.profile_image,  :size =>'50x50',class: "rounded-circle mx-4" %><% end %>
           <span id="you"><%= chat.message %></span>
        </p>
       <% end %>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-9 d-flex justify-content-end">
        <%= form_with model: @chat, data: {remote: true} do |f| %>
        <%= f.text_field :message, class: "form-control col-12" %>
        <%= f.hidden_field :chat_room_id %>
      <% end %>
      </div>
    </div>
  </div>

</div>
