<div class="container py-5">
  <div class="row">
    <h1 class="col-sm-5 mb-4 mx-auto text-center" id="chat_room" data-chat_room="<%= @chat_room.id %>" data-customer="<%= current_customer.id %>">
      <%= @customer.name %> さんとのチャットルーム
    </h1>
  </div>

  <div class="row">
    <div class="message col-sm-8 mx-auto">
       <% @chats.each do |chat| %>
        <%= render 'chat', chat: chat, customer: @customer %>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-9 d-flex justify-content-end ">
        <%= form_with model: @chat, data: {remote: true} do |f| %>
        <%= f.text_field :message, class: "form-control col-12" %>
        <%= f.hidden_field :chat_room_id %>
      <% end %>
      </div>
    </div>
  </div>

</div>
