<div class="container py-5">
  <div class="row">
    <h3 class="col-md-6 text-center font-weight-bold">新規会員登録</h3>
  </div>


     <%= form_with model: @customer, url: customer_registration_path  do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>
      <div class="mt-5">
        <div class="form-group">
          <div class="row">
            <div class="col-md-3 text-left text-md-center">
              <%= f.label :name, '名前', class: "control-label" %>
            </div>
            <div class="col-md-9">
              <%= f.text_field :name, autofocus: true, :placeholder => "ユーザーネーム", class: 'form-control col-7' %>
            </div>
          </div>
        </div>
       </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-3 text-left text-md-center">
              <%= f.label :sex, '性別', class: "control-label" %>
            </div>
            <div class="col-md-9">
              <%= f.collection_radio_buttons :sex, Customer.sexes_i18n, :first, :last do |b| %>
                <span class="mr-3">
                  <%= b.label {b.radio_button + b.text} %>
                </span>
              <% end %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-3 text-left text-md-center">
              <%= f.label :email, 'メールアドレス', class: "control-label" %>
            </div>
            <div class="col-md-9">
              <%= f.email_field :email, :placeholder => "sample@example.com", class: 'form-control col-7' %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-3 text-left text-md-center">
             <%= f.label :active_area, "活動拠点", class: "control-label" %>
            </div>
            <div class="col-md-9">
            <%= f.select :active_area, Customer.active_areas_i18n.invert,{},class: 'form-control col-7' %>
           </div>
         </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-3 text-left text-md-center">
             <%= f.label :objective, "筋トレ目的", class: "control-label" %>
            </div>
            <div class="col-md-9">
            <%= f.select :objective, Customer.objectives_i18n.invert,{}, class: 'form-control col-7' %>
           </div>
         </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-3 text-left text-md-center">
             <%= f.label :frequency, "筋トレ頻度", class: "control-label" %>
            </div>
            <div class="col-md-9">
            <%= f.select :frequency,Customer.frequencies_i18n.invert,{}, class: 'form-control col-7' %>
           </div>
         </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-3 text-left text-md-center">
             <%= f.label :traning_style, "筋トレスタイル", class: "control-label" %>
            </div>
            <div class="col-md-9">
            <%= f.select :traning_style,Customer.traning_styles_i18n.invert.to_a,{},class: 'form-control col-7' %>
           </div>
         </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-3 text-left text-md-center">
             <%= f.label :heart, "筋トレの熱意", class: "control-label" %>
            </div>
            <div class="col-md-9">
           <%= f.select :heart, Customer.hearts_i18n.invert,{},class: 'form-control col-7' %>
          </div>
        </div>
       </div>

       <div class="form-group">
          <div class="row">
            <div class="col-md-3 text-left text-md-center">
              <%= f.label :introduction, '自己紹介', class: "control-label" %>
            </div>
            <div class="col-md-9">
              <%= f.text_area :introduction, :placeholder => "自己紹介", class: 'form-control col-7' %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-3 text-left text-md-center">
              <%= f.label :profile_image, 'プロフィール画像', class: "control-label" %>
            </div>
            <div class="col-md-9">
              <%= f.file_field :profile_image %>
            </div>
          </div>
        </div>

        <div class="form-group">
         <div class="row">
           <div class="col-md-3 text-left text-md-center">
            <%= f.label :password, "パスワード６文字以上", class: "control-label" %>
            <% if @minimum_password_length %>
            <em><% @minimum_password_length %></em>
            <% end %>
           </div>
           <div class="col-md-9">
            <%= f.password_field :password, class: 'form-control col-7' %>
          </div>
        </div>
       </div>

       <div class="form-group">
         <div class="row">
           <div class="col-md-3 text-left text-md-center">
            <%= f.label :password_confirmation, "パスワード(確認用)", class: "control-label" %>
            <% if @minimum_password_length %>
            <em><% @minimum_password_length %></em>
            <% end %>
           </div>
           <div class="col-md-9">
            <%= f.password_field :password_confirmation, class: 'form-control col-7' %>
             </div>
           </div>
          </div>
          <div class="actions col-7 text-center">
           <%= f.submit "新規会員登録", class: 'btn btn-sm btn-success control-submit mr-5 mb-3' %>
         </div>
         <%end %>
         <div class="row">
          <div class="col-md-4 pr-0 text-right text-md-center font-weight-bold">既に登録済みの方は
           <%= link_to "こちら", new_customer_session_path %>
          </div>
</div>
