<div class="contaner py-5">
  <div class="row">
    <h1 class="col-sm-5 my-5 mx-auto text-center">Reports</h1>
  </div>
  
  <div class="row">
    <div class="col-md-6 mx-auto">
      <table class="table table-hover h4 text-center table-secondary">
        <thead class="thead-dark">
          <tr>
            <th>通報ID</th>
            <th>会員名</th>
            <th>通報者</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @reports.each do |report| %>
            <tr>
              <td scope="row">
                <%= report.id %>
              </td>
              <td style="vertical-align: middle;">
                <%= link_to report.reported.name, admin_report_path(report),class: "link" %><%=  %>
              </td>
              <td style="vertical-align: middle;">
                <%= report.reporter.name %>
              </td>
              <td style="vertical-align: middle;" class="text-success">
                <strong><%= report.status_i18n %></strong>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>